extends layout

block content
  h1= title
  p Here are some Hello World level experiments with Infrura

  p Are we connected to Infura? #{isConnected}

  h2 transaction data for id #{txnid}:
  p #{txnJSON}
